.main-background {
  width: 100%;
  height: 500px;
  background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url('../images/shoes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:1px;
}
.main-title {
  color:white;
  font-size: 40px;
  margin-top: 200px;
}
.main-content {
  color: white;
}
.main-background > button > a{
  color: black;
  text-decoration: none;
}